#footer
{
	background-color: #0EC3DE;
  	background-repeat: no-repeat;
  	background-position: center;
  	padding: 2em 0 2em 0;
  	text-align: center;
  	background-image: url('../img/footer.png');
	background-size: 100% 100%;
	color: #FFF;
}

@media screen and (min-width:310px){

	.LogoIndex{
		width: 30%;
	}

	.logoLogin{
		margin: 0 auto;
		width: 30%;
	}

	.logoUsuario{
		text-align: center;
	}

	.barraUsuario{
		padding: 5%;
	}

}

@media screen and (min-width:470px){

	.LogoIndex{
		width: 20%;
	}

	.logoLogin{
		margin: 0 auto;
		width: 20%;
	}

}

@media screen and (min-width:1014px){

	.LogoIndex{
		width: 9%;
	}

	.logoLogin{
		margin-top: 20%;
		margin-bottom: 20%;
		width: 100%;
	}

	.logoUsuario{
		text-align: left;
	}

	.barraUsuario{
		padding: 2%;
	}

}
